---
layout: default
---

<!-- Banner -->
<section id="banner">

</section>
<section class="wrapper style1">

    <div class="major">
      <header class="major">
        <h2>기초스터디</h2>
        <p>기초스터디입니다.</p>
      </header>
</section>
  <div class="row">
      <div class="6u">
        {% for post in site.categories.Basic %}
            <header>
                <h2><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
                <p class="meta">{{ post.date | date: "%b %-d, %Y" }}</p>
            </header>
      {% endfor %}
    </div>


    <!-- Pagination
    ================================================== -->
    <div class="bottompagination">
    <div class="pointerup"><i class="fa fa-caret-up"></i></div>
    <span class="navigation" role="navigation">
        {% include pagination.html %}
    </span>
    </div>
