---
layout: default
---

<!-- Banner -->
<section id="banner">

</section>
<section class="wrapper style1">

    <div class="major">
      <header class="major">
        <h2>기초스터디</h2>
        <p>기초 파이썬,데이터분석 관련 포스팅 공간입니다.</p>
      </header>
      <hr>
</section>

      {% for post in site.categories.Basic %}
                <center>
                <h2><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
                <p class="meta">{{ post.date | date: "%b %-d, %Y" }}</p>
                </center>
        {% endfor %}




    <!-- Pagination
    ================================================== -->
    <div class="bottompagination">
    <div class="pointerup"><i class="fa fa-caret-up"></i></div>
    <span class="navigation" role="navigation">
        {% include pagination.html %}
    </span>
    </div>
