---
layout: default
---
<!-- Banner -->
<section id="banner">

</section>


<section class="wrapper style1">

    <div class="major">
      <header class="major">
        <h2>인빅회원.</h2>
        <p>This is In Big</p>
      </header>
</section>

    </div>
<section>
    <div class="row listrecent">

        {% for post in site.categories.Members %}

        <a href="{{ site.baseurl }}{{ post.url }}" class="card"><img src="{{ post.image }}"/ alt=""  width="30%" height="30%"></a>
        <header>
            <h2><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
        </header>


        {% endfor %}

    </div>

</section>

<!-- Pagination
================================================== -->
<div class="bottompagination">
<div class="pointerup"><i class="fa fa-caret-up"></i></div>
<span class="navigation" role="navigation">
    {% include pagination.html %}
</span>
</div>
