<!-- Header -->
<header id="header" class="skel-layers-fixed">
    <h1><a href="{{ site.baseurl }}/" class="site-title" >{{ site.title }}</a></h1>
    <nav id="nav">
        <ul>
            <li><a href="{{ site.baseurl }}/Announce.html">Announce</a></li>
            <li><a href="{{ site.baseurl }}/">Home</a></li>
            <li><a href="{{ site.baseurl }}/Members.html">Members</a></li>
            <li><a href="{{ site.baseurl }}/Basic.html">Basic</a></li>
            <li><a href="{{ site.baseurl }}/Data_visualization.html">Data visualization</a></li>
            <li><a href="{{ site.baseurl }}/ML.html">ML</a></li>
          


            {% for page in site.pages %}
                  {% if page.title %}
                    <li><a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
                  {% endif %}
            {% endfor %}
            <li><a href="{{ site.baseurl }}/profile.html" class="button special">Profile</a></li>
        </ul>
    </nav>
</header>
