<!DOCTYPE html>
<html>

  {% include /head.html %}

	<body id="top">

        {% include /header.html %}

        <!-- Banner -->
        <section id="banner">
            <div class="inner">
                <h2>InBig</h2>
                <p>Into the Big Data <br>인하대학교 빅데이터 동아리 인빅입니다.</p>
                <ul class="actions">
                    <li><a href="{{ site.baseurl }}/profile.html" class="button big special">Profile</a></li>
                    <li><a href="{{ site.baseurl }}/Contact.html" class="button big alt">Contact</a></li>
                </ul>
            </div>
        </section>
        {{ content }}
        {% include /footer.html %}

    </body>

</html>
